body{background-color: pink
}
h1{
  text-align: center;color:#190501
}
p{
  color: #FFFFFF
}
nav li{
  font-size: 50px;
  display: inline-block;
  margin: 0 0 0 30px;
  text-decoration: none;
  text-transform: uppercase;
}
#logo{
  position: relative;
  left: 8px;
}
.menu{
  position: relative;
  bottom: 400px;
  left: 60%;

  }

nav a{
  font-size: 40px;
  position:static;
}
header{
  background-color: pink

}

.contato{
  background-color: pink
}

.fotos{
  background-color: pink
}

.gastronomia{
  border: 40px groove black
}

.fotos{
 border: 40px groove white
}
